@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Work Sans';
}
/* HEADER */
.estilo-text-nav{
    font-family: 'Cinzel Decorative';
    font-size: 40px !important;
}
.estilo-svg{
    background-color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
.estilo-text-nav-items{
    color: white !important;
    transition: .3s;
}
.estilo-text-nav-items:hover{
    color: crimson !important;
}
.estilo-item{
    color: white !important;
    transition: .1s;
}
.estilo-item:hover{
    color: #212529 !important;
}
/* INICIO */
.estilo-fondo{
    color: white;
    background: linear-gradient(to bottom, rgba(30,35,38,.8), rgba(30,35,38,1)), url('/img/img_inicio.png');
    height: 110vh;
    background-size: cover;
}
.titulo-inicio {
    font-family: 'Cinzel Decorative';
    font-weight: 800;
    font-size: 100px;
}
.img-titulo{
    width: 300px;
    height: 300px;
}
/* SOBRE NOSOTROS */
.sobre-nosotros {
    padding: 50px 0 0 0;
    background-color: #1e2326;
}
.titulo-seccion{
    font-size: 48px;
    font-weight: 600;
    color: white;
}
.texto{
    font-size: 18px;
    color: white;
    padding: 5px 0 20px 0;
}
.img-barbero{
    width: 300px;
    aspect-ratio: 4584/6868;
    border: 4px solid crimson;
}
.presentacion-imagen{
    font-size: 30px;
    color: white;
    padding: 10px 0 10px 0;
    font-weight: 700;
}
.img-local{
    border-radius: 40px;
    padding: 10px 0 20px 0;
}
/* GESTIÓN TURNO */
.gestion-turno {
    padding: 10px 0 0 0;
    background-color: #1e2326;
}
/* FOOTER */
.estilo-footer {
    background-color: #212529 !important;
    color: white;
    height: 100px;
}
.redes{
    color: white;
    font-size: 40px;
    line-height: 20px;
    transition: .3s;
}
.redes:hover{
    color: crimson;
    font-size: 40px;
    line-height: 20px;
}